/* Used for main headers */
.header-main {
    -fx-font-family: "Arial";
    -fx-font-size: 36px;
    -fx-text-fill: #000;
	-fx-alignment: center;
}

/* Used for sub-headers */
.header-sub {
    -fx-font-family: "Arial";
    -fx-font-size: 18px;
    -fx-text-fill: #000;
	-fx-alignment: center;
}

/* Used for small text, usually disclaimers */
.disclaimer {
	-fx-font-family: "Arial";
	-fx-font-style: italic;
	-fx-font-size: 12px;
	-fx-text-fill: #777;
}

/* For error labels */
.error-label {
	-fx-font-family: "Arial";
	-fx-font-size: 14px;
	-fx-text-fill: red;
	-fx-alignment: center;
	-fx-font-weight: bold;
}

/* Used for action buttons */
.action-button {
	-fx-font-family: "Arial";
	-fx-font-size: 14px;
	-fx-text-fill: #000;
}

.action-button:hover {
	-fx-text-fill: #000;
	-fx-font-weight: bold;
}

.back-button {
	-fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-text-fill: #444;
    -fx-padding: 4 10 4 4;
}

.back-button:hover {
	-fx-text-fill: #000;
	-fx-font-weight: bold;
}

/* You get one guess. */
.background {
	-fx-background-color: #f8f8f8;
	-fx-padding: 10;
}